@font-face {
    font-family: Axiforma-Regular;
    src: url(../fonts/Axiforma-Regular.ttf);
  }
  * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Axiforma-Regular;
    color: var(--color-2);
  }

/* nav start */
.nav-item a {
    color: #00aa2f !important;
    fill: #00aa2f !important;
    font-weight: 500;
    font-size: 17px;
}

.nav-link {
    margin: 0 15px;
}

.btn {
    padding: 5px 15px;
    color: #fff;
    background-color: #00aa2f;
    border: 1.5px solid #00aa2f !important;
    transition: all 0.3s;
}


.btn:hover {
    color: #00aa2f;
    background-color: #fff;
}

.dropdown-item:active {
    background-color: #eee;
}

.dropdown-item {
    border-radius: 5px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* query for nav start */

@media screen and (min-width:992px) {
    .dropdown:hover>.dropdown-menu {
        display: block;
        margin-top: 0;
    }
}

@media(max-width:992px) {
    .dropdown-item::after {
        transform: rotate(90deg);
    }
}

/* query for nav end */

/* nav end */

/* main start */

main {
    background-color: #fff;
}

/* first-section start */
.first-section {
    background-color: #00aa2f;
    padding: 15px 10px;
}

.first-sec-image img {
    max-width: 100%;
    height: auto;
}

.first-sec-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.first-sec-text h2 {
    color: #fff;
    font-size: 38px;
    line-height: 1.2em;
    margin-bottom: 20px;
}

.first-sec-text h4 {
    color: #fff;
    font-size: 20.02px;
    font-weight: 400;
    line-height: 1.6em;
    max-width:85%;
}

/* query for first-section start */

@media(max-width:767px) {
    .first-sec-text h4 {
        max-width: 100%;
    }
    .first-sec-text {
        margin: 30px 0;
    }

    .first-sec-text h2 {
        font-size: 29px;
        display: inline-block;
    }

    .first-sec-text h4  {
        font-size: 17px;
    }

    .first-sec-image {
        margin-top: 10px;
    }

}

/* query for first-section end */

/* first-section end */

/* second-section start */
.second-section {
    margin: 0 0 20px 0;
    padding: 70px 10px 20px 10px;
    background-color: #fff;
}
.shop-heading{
    color: #7a7a7a;
    font-size: 17px;
    font-weight: 900;
    text-transform: uppercase;
}
.shop-second-heading{
    color: #242948;
    font-size: 37.73px;
    font-weight: 800;
    line-height: 1.1em;
}
.fourth-sec-image{
    display: flex;
    justify-content: center;
}

.fourth-sec-image img {
    max-width: 100%;
    height: auto;
}

.list-num-1,
.list-num-2,
.list-num-3,
.list-num-4 {
    display: flex;
    margin-top: 20px;
}

.list-num-1 span {
    border-radius: 50%;
    background: #e6e6e6;
    height: 40px;
    width: 40px;
    text-align: center;
    align-content: center;
    margin-right: 25px;
    font-weight: 400;
    flex-grow: 0;
    flex-shrink: 0;
}

.list-num-text-1 a {
    text-decoration: none;
    color: #242948;
    transition: all 0.3s;
}

.list-num-text-2 a {
    text-decoration: none;
    color: #242948;
    transition: all 0.3s;
}

.list-num-text-3 a {
    text-decoration: none;
    color: #242948;
    transition: all 0.3s;
}

.list-num-text-1 a h3 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
}

.list-num-text-1 p {
    font-weight: 500;
    line-height: 2;
    font-size: 17px;
    color: #242948;
}

.list-num-2 span {
    border-radius: 50%;
    background: #e6e6e6;
    height: 40px;
    width: 40px;
    text-align: center;
    align-content: center;
    margin-right: 25px;
    font-weight: 400;
    flex-grow: 0;
    flex-shrink: 0;
}

.list-num-text-2 h3 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
}

.list-num-text-2 p {
    font-weight: 500;
    line-height: 2;
    font-size: 17px;
    color: #242948;
}

.list-num-3 span {
    border-radius: 50%;
    background: #e6e6e6;
    height: 40px;
    width: 40px;
    text-align: center;
    align-content: center;
    margin-right: 25px;
    font-weight: 400;
    flex-grow: 0;
    flex-shrink: 0;
}

.list-num-text-3 h3 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
}

.list-num-text-3 p {
    font-weight: 500;
    line-height: 2;
    font-size: 17px;
    color: #242948;
}


.list-num-4 span {
    border-radius: 50%;
    background: #e6e6e6;
    height: 40px;
    width: 40px;
    text-align: center;
    align-content: center;
    margin-right: 25px;
    font-weight: 400;
    flex-grow: 0;
    flex-shrink: 0;
}

.list-num-text-4 a {
    text-decoration: none;
    color: #242948;
    transition: all 0.3s;
}

.list-num-text-4 h3 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
}

.list-num-text-4 p {
    font-weight: 500;
    line-height: 2;
    font-size: 17px;
    color: #242948;
}



.list-num-1:hover span~.list-num-text-1 a {
    color: #00aa2f;
}

.list-num-2:hover span~.list-num-text-2 a {
    color: #00aa2f;
}

.list-num-3:hover span~.list-num-text-3 a {
    color: #00aa2f;
}

.list-num-4:hover span~.list-num-text-4 a {
    color: #00aa2f;
}



/* query for fourth-section start */
@media (max-width:767px) {
    .list-num-3 {
        margin-bottom: 30px;
    }

    .list-num-1 span {
        height: 30px;
        width: 30px;
        font-size: 14px;
    }

    .list-num-text-1 a h3 {
        font-size: 22px;
    }

    .list-num-text-1 p {
        font-size: 15px;
    }

    .list-num-2 span {
        height: 30px;
        width: 30px;
        font-size: 14px;
    }

    .list-num-text-2 a h3 {
        font-size: 22px;
    }

    .list-num-text-2 p {
        font-size: 15px;
    }

    .list-num-3 span {
        height: 30px;
        width: 30px;
        font-size: 14px;
    }

    .list-num-text-3 a h3 {
        font-size: 22px;
    }

    .list-num-text-3 p {
        font-size: 15px;
    }
}

/* query for fourth-section end */

/* second-section end */


/* third-section start */
.third-section{
    margin: 60px 0;
}
.head-wrap{
    text-align: center;
}
.main-heading{
    text-align: center;
    margin-bottom: 10px;
}
.main-heading h1{
    color: #242948;
    font-size: 42.35px;
    font-weight: 600;
}
.head-icon{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.icon-wrapper{
    margin: -30px 10px -50px 0;
}
.icon-wrapper svg{
    fill: #000;
    width: 10em;
    height: 10em;
    cursor: pointer;
    transition: all 0.3s;
}
.icon-wrapper svg:hover{
    transform: scale(0.9);
}
/* Query for third-section start  */
@media(max-width:767px){
    .third-section{
        margin-top: 30px;
        margin-bottom: 0;
        padding: 30px 0 0;
        background: #303753 !important;
    }
    .main-heading h1{
        color: white !important;
        font-size: 30px !important;
        line-height: 1.2 !important;
    }
}
/* Query for third-section end  */

/* third-section end */


/* main end */
